@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: user) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb)); 
}
body {
  min-height: 100vh;
}

::-webkit-scrollbar-thumb{
  @apply bg-primary;
  border-radius: 10px;
}
::-webkit-scrollbar{
  @apply bg-transparent;
  width: 6px;
 
}

@layer utilities {
  .text-balance {
    @apply w-[200px]
  }
}


/**** ddddddddd **/
@font-face {
  font-family: "Poppins-semibold";
  src: url("../_fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-regular";
  src: url("../_fonts/Poppins-Regular.ttf");
}


.left-side-login{
  animation: left_login 2s forwards;
}
.left-side-card-login{
  animation: left_side_card_login 2s forwards;
  display: flex;
  flex-direction: column;
}

@keyframes left_login {
  from{
   max-width: 443px;
  }
  to{
    max-width: 758px;
  }
}
@keyframes left_side_card_login {
  from{
    
    flex-direction: colum;
  }
  to{
    flex-direction: row;
  }
}
